.card {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(220,20,60,0.9);
    color: white;
    padding: 10px;
    z-index: 10;
}

.underlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: yellow;
    color: black;
    padding: 10px;
    z-index: 100;
}
